<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 img-wrap">
      <!--<div class="pic center-block"></div>-->
      <!--<img src="../../assets/img/EGLO EG-82813.jpg" class="avatar" alt="img">-->
      <a href="#" class="avatar"></a>
    </div>
    <div class="col-lg-10">
      <h3>Item</h3>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
      <div class="priceInfo">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aspernatur consequuntur dignissimos doloremque dolorum laudantium,
        mollitia odio officia optio rerum similique. Dignissimos esse harum
        minus ullam vitae. Adipisci commodi cum cumque dignissimos ipsum iusto
        libero officiis praesentium quae, qui quia, quidem rerum soluta voluptate
        voluptatum! Aspernatur ea nulla obcaecati quam quasi.
      </div>
    </div>
  </div>
</div>




