<div class="container main-wrapper">
  <h1>Coffee-points</h1>
  <div class="row">
    <ul>
      <!--<button (click)="toggleAll()">Toggle All</button>-->

      <li *ngFor="let coffeeshop of coffeeshops; let i = index">

        <h4 (click)="gotoDetail(coffeeshop.id)">
          Coffeeshop #{{i+1}}; ID: {{coffeeshop.id}}; NAME: {{coffeeshop.name}};
        </h4>

      </li>

    </ul>

  </div>
  <h3>COFFEESHOPS ON MAP:</h3>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker *ngFor="let coffeeshop of coffeeshops"
                [latitude]="coffeeshop.latitude"
                [longitude]="coffeeshop.longitude"
                [label]="coffeeshop.id.toString()"
                [title]="coffeeshop.name"></agm-marker>
  </agm-map>
</div>
